body {
  text-align: center;
  background-color: #139e8c;
  background-image: linear-gradient(45deg, #ba0404 25%, transparent 25%, transparent 50%, #2ace83 50%, #2ace83 75%, transparent 75%, #0f1d09);
  background-size: 50px 50px;
  animation: size-in 1.5s 1;
}

.heading {
  background-color: #63a5e7;
  border-radius: 45% 45% 45% 45%;
  width: 75%;
  margin: auto;
  box-shadow: 20px 2px 40px #fdd557, -20px -2px 40px #fdd557;
  color: #fdd557;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  text-shadow: 0.1em 0.1em 0.05em #a561a2;
  max-width: 920px;
  margin: 0 auto !important;
  float: none !important;
  animation: spin 1s 1 linear;
  animation-iteration-count: 1;
}

.heading2 {
  background-color: #ffde2a;
  border-radius: 45% 45% 45% 45%;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  box-shadow: 2px 2px 4px black, -2px -2px 4px black;
  color: blue;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  text-shadow: 0.1em 0.1em 0.05em #a561a2;
  max-width: 250px;
  margin: 0 auto !important;
  float: none !important;
  animation: size-in 1.5s 1;
  /* color animation below */
  animation-name: rainbow-move-change;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes size-in {
    from {
      transform: scale(.1);
    }
    to {
      transform: scale(1);
    }
}

#connect4 {
  background-color: #192ceb;
  display: inline-block;
  border-radius: 2%;
  animation-name: rainbow-move-change;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.board {
  background-color: #a561a2;
  border-radius: 45% 45% 45% 45%;
  transform-origin: center;
  animation: spin .3s 10 linear;
  padding: 30px 30px;
  overflow: scroll;
  box-shadow: 20px 2px 40px black, -20px -2px 40px black;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  /* movement animation below */
  animation-duration: 500ms;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  /* color animation below */
  animation-name: rainbow-move-change;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: #ffde2a;
  border-radius: 40% 40% 40% 40%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, 0.6);
  animation-name: rainbow-move-change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.next-black {
  background-color: rgba(0, 0, 0, 0.6);
  animation-name: rainbow-move-change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rainbow-move-change {
  0% {background: #a561a2; left:0%; top:0%;}
  10% {background: blue; }
  25% {background: hotpink; left: 75%; top:0px;}
  30% {background: coral;}
  40% {background: lightyellow;}
  50% {background: palegreen; left: 75%; top: 10em; transform: rotate(450deg); }
  60% {background: mediumaquamarine; }
  75% {background: steelblue; left:0%; top:10em; border-radius: 50%;}
  80% {background: darkviolet;}
  90% {background: #63a5e7; }
  100% {background: #ffde2a; left:0px; top:0px; }
}

.col.red {
  background-color: red;
  animation: spin .3s 1 linear;
}

.col.black {
  background-color: black;
  animation: spin .3s 1 linear;
}

button {
  background-color: #63a5e7;
  color: #fdd557;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 20px 2px 40px #fdd557, -20px -2px 40px #fdd557;
  border-radius: 45% 45% 45% 45%;
  margin: 5px;
}

#playagain {
  cursor: pointer;
}
